
.App {
  text-align: center;
}

.cookie-clicker-container {
  display: flex;
  flex-direction: row;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.personalization-container {
  display: flex;
  flex-direction: row;
}

.personalization-form-container {
  display: flex;
  flex-direction: column;
}